
*{margin: 15px;
    padding: 10px
}
button{
    background-color: blueviolet;
    border-radius: 5px;
    color: white; 
}

h1{
    color: tomato;
    background-color: yellow;
    Font-size:15px
}
#p1{
    color: violet;
    background-color:transparent;
    font-size: 50px;
    text-align: center;
}
span{

    font-size: 25px;
    background-color: royalblue;
    padding:0px;
    border-radius: 10px;
}
.g1{
    color: yellowgreen;
    margin-top: 10px;
    margin-left: 15px;
    margin-left: 20px;
    margin-bottom: 17px;


}